<div class='main_content'>
  <h1>Welcome to John Doe's webpage!</h1>
  <p>
    Hello there! My name is John Doe and I am currently a professor of computer science
    here at the University of Astalia!  Ever since I have obtained my Ph.D. here eighteen years ago I have been 
    teaching the fundamentals of software development and enjoy doing the work I do. It is my hope that through my website here that you will
    be able to find a wealth of information that will help kindle your interest in this rapidly changing field of study.
  </p>

  <h4>Biography</h4>
  <p>
    Hello there! My name is John Doe and I am currently a professor of computer science
    here at the University of Astalia!  Ever since I have obtained my Ph.D. here eighteen years ago I have been 
    teaching the fundamentals of software development and enjoy doing the work I do. It is my hope that through my website here that you will
    be able to find a wealth of information that will help kindle your interest in this rapidly changing field of study.
  </p>
</div>
