<div class='main_content'>
  <h1>Welcome to <%= faculty_member.first_name %> <%= faculty_member.last_name %>'s webpage!</h1>
  <p>
    <%= faculty_member.summary %>
  </p>

  <% unless faculty_member.biography.blank? %>
    <h4>Biography</h4>
    <p>
      <%= faculty_member.biography %>
    </p>
  <% end %>
</div>
